@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*.Mui-focused .MuiOutlinedInput-notchedOutline,
*.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
  outline: none;
  background: transparent !important;
  box-shadow: var(--shadow-xl) !important;
  border: 1px solid var(--color-green-500) !important
}

.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-shrink {
  font-weight: 600 !important;
  font-size: var(--text-xl) !important;
  background-color: transparent !important;
  font-family: inherit !important;
  top: -2rem !important;
  left: -14px !important;
  transition: all 0.3s;
  color: white !important;
}

*.Mui-error {
  color: var(--color-red-500) !important;
}

*.Mui-selected {
  color: var(--color-green-600) !important
}

*.Mui-error {
  margin-left: 0 !important;
}

.scroll-x {
  scroll-behavior: smooth;
}

.scroll-x::-webkit-scrollbar {
  height: 7px;
}

.scroll-x::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 3px;
}

.scroll-x::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 3px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 0.7);
}

.scroll-y {
  scroll-behavior: smooth;
}

.scroll-y::-webkit-scrollbar {
  width: 3px;
}

.scroll-y::-webkit-scrollbar-track {
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb:hover {
  background: var(--color-green-300);
}

.scroll-y-all {
  scroll-behavior: smooth;
}

.scroll-y-all::-webkit-scrollbar {
  width: 3px;
}

.css-icon:hover {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

*:disabled {
  color: var(--color-gray-200);
  cursor: not-allowed;
  border-color: var(--color-gray-200);
  box-shadow: none;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.css-next:hover span {
  animation: next-1 0.6s ease-in-out infinite alternate;
}

@keyframes next-1 {
  from {
    transform: translateX(0.1em);
  }

  to {
    transform: translateX(-0.1em);
  }
}

@keyframes paw-1 {
  from {
    transform: translateX(-0.1em);
  }

  to {
    transform: translateX(0.1em);
  }
}

@keyframes uploading {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-3px);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #24332d inset !important;
  -webkit-text-fill-color: var(--color-green-500) !important;
  transition: background-color 5000s ease-in-out 0s;
}